*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    border: 1px dotted yellow;
}


/* inizio header */

header{
background-color: rgba(255, 105, 0, 1);
}

.header-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap:40px;
}

ul li{
   list-style-type: none; 
}

ul li a{
    text-decoration: none;
    color: white;
}


.logo img{
    width: 400px;
    height: 90px;
    color: white;
}

header .icons i{
color: white;
}

/* fine header */

/*inizio main*/

.main-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;  
    
}

main .images{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

main img{
width: 340px;
height: 480px;
}


.image1,.image2,.image3,.image4,.image5,.image6{
    position: relative;
}

.green-red{
    display: flex;
    gap:5px;
    position:absolute;
    top:420px;
}

.red{
    width:50px;
    height:30px;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    width:100px;
    height:30px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}



main .brand{
font-weight: lighter;
}

main .details{
font-weight: bold;
}

main span b{
    color: red;
}

.info{
    margin-bottom: 40px;
}



/*fine main*/